.series{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
}

.seriesBtn{
    width: 10rem;
    background-color: rgb(228, 92, 92);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.commentsBlock{
    background-color: azure;
    margin: 10px 0;
}