.movieList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movieItems{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.paginationContainer{
    width: 11rem;
}
.addMovie{
    width: 10rem;
    background-color: rgb(228, 92, 92);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

@media (max-width: 470px){
    .movieItems{
        justify-content: center;
    }
}