.videoItem{
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
    .titleContainer{
        display: flex;
        padding: 5px;
        h2{
            font-size: 1.2rem;
           width: 10rem; 
            text-overflow: ellipsis; 
            white-space: nowrap;
            overflow: hidden;
            color: rgba(114, 5, 226, 0.8);
        }
    }
    
    img{
        width: 13rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid rgba(114, 5, 226, 0.8);
    }

    .count{
        font-size: 0.8rem;
    }
}