.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 4.5rem;
    width: 100vw;
    z-index: 999;
     background-color: transparent;
    .scrolled {
      background-color: black;
    }
    .navbar__content{
        display: flex;   
        justify-content: space-between;
        padding: 0 4rem;
        align-items: center;
        transition: 0.3s ease-in-out;

    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 2rem;
      .brand {
        img {
          height: 4rem;
        }
      }
      .links {
        ul {
          list-style-type: none;
          display: flex;
          gap: 2rem;
          margin-top: 1.3rem;
          li {
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
    .right {
        gap: 1rem;
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          svg {
            color: #f34242;
            font-size: 1.2rem;
          }
        }
        .search {
          display: flex;
          gap: 0.4rem;
          align-items: center;
          justify-content: center;
          padding: 0.2rem;
          padding-left: 0.5rem;
          button {
            background-color: transparent;
            border: none;
            &:focus {
              outline: none;
            }
            svg {
              color: white;
              font-size: 1.2rem;
            }
          }
          input {
            width: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease-in-out;
            background-color: transparent;
            border: none;
            color: white;
            &:focus {
              outline: none;
            }
          }
        }
        .show-search {
          border: 1px solid white;
          background-color: rgba(0, 0, 0, 0.6);
          input {
            width: 100%;
            opacity: 1;
            visibility: visible;
            
          }
        }
      }
    }
}