.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 4.5rem;
    width: 100vw;
    z-index: 999;
     background-color: black;
    .scrolled {
      background-color: black;
    }
    .navbar__content{
        display: flex;   
        justify-content: space-between;
        padding: 0 4rem;
        align-items: center;
        transition: 0.3s ease-in-out;

    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 2rem;
      .brand {
        img {
          height: 4rem;
        }
      }
      .links {
        ul {
          list-style-type: none;
          display: flex;
          gap: 2rem;
          margin-top: 1.3rem;
          li {
            a {
              color: white;
              text-decoration: none;
            }
          }
        }

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    .right {
        gap: 1rem;

        .burger-menu{
          width: 15rem;
          display: flex;
          padding: 5px;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          p{
            text-align: center;
            cursor: pointer;
          }
        }

        .burger-menu,.burgerMenu{
          display: none;
          background-color: #f34242;
          color: white;

          @media (max-width: 768px) {
            display: block;
          }
        }
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          svg {
            color: #f34242;
            font-size: 1.2rem;
          }
        }
        
      }
    }
}
