.videos{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .videoSearch{
        position: absolute;
        top: 5rem;
        left: 30rem;
    }

    .videoItems{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10rem;
        justify-content: center;
    }
    button{
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e50914;
        border: none;
        color: white;
        padding: 5px 0;

        &:hover{
            background-color: #911118;
        }
    }
}