.videos{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .videoItems{
        padding-top: 7rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10rem;
        justify-content: center;
       
    }
    .addMovie{
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e50914;
        border: none;
        color: white;
        padding: 5px 0;

        &:hover{
            background-color: #911118;
        }
    }
}