.videos{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .videoItems{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10rem;
        justify-content: center;
    }
}